<div class="meal-card" ng-show="showCard(card, mealType)">

  <div class="meal-card-header" title="Drag to move" style="background: #{{mealType.bgColor}};">
    <span class="meal-card-close" title="Remove" ng-click="removeCard(card, mealType);">&times;</span>
    <h3>{{mealType.name}}</h3>
  </div>

  <ul ng-controller="MenuItemsController">
    <li title="Edit" ng-repeat="item in menuItems()" ng-class="{editing: item.editable}">
      <div class="display" ng-show="!item.editable" ng-click="enableEditing(item); hasFocus=true;">
        <span class="remove-item" title="Remove" ng-click="removeItem(item)">&times;</span>
        {{item.name}}
      </div>
      <input ng-show="item.editable" ng-model="item.name" ng-blur="disableEditing(item)"
          ng-keyup="disableEditing(item, $event)" focus-when="hasFocus">
    </li>

    <li class="editing">
      <input placeholder="Add item..." ng-model="newItem" ng-blur="addItem()"
          ng-keyup="addItem($event)">
    </li>
  </ul>

</div>
